<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trace.trace.mapper.CompetMapper">

    <select id="selectCompetBySkuIds" parameterType="java.util.List" resultType="JDdetail">
        select pname,price,detail_url,img_url,brand,brand_url,commentCount,goodRate
        from `jd_info`
        where `sku_id` in
        <foreach collection="skuIds" item="skuId" index="index"
                 open="(" close=")" separator=",">
            #{skuId}
        </foreach>
        order by field(
        `sku_id`,
        <foreach collection="skuIds" separator="," item="skuId">
            #{skuId}
        </foreach>
        )
    </select>

    <select id="selectCompetByRegisIds" parameterType="java.util.List" resultType="Compet_geo">
        select proj_name,company_name,img_url,region,lng,lat
        from `company`
        where `regis_id` in
        <foreach collection="regisIds" item="regisId" index="index"
                 open="(" close=")" separator=",">
            #{regisId}
        </foreach>
    </select>

    <select id="selectCommentScoreBySkuIds" parameterType="java.util.List" resultType="Comment_score">
        select brand,package_score,price_score,logistics_score,taste_score,service_score
        from `comment_score`
        where `sku_id` in
        <foreach collection="skuIds" item="skuId" index="index"
                 open="(" close=")" separator=",">
            #{skuId}
        </foreach>
        order by field(
        `sku_id`,
        <foreach collection="skuIds" separator="," item="skuId">
            #{skuId}
        </foreach>
        )
    </select>

</mapper>